.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* transition: all 200ms; */
}

.main__right {
    /* flex: 0.2; */
    flex-direction: column;
    /* display: flex; */
    display: none;
    background-color: #1768AC;
    border-left: 1px solid #03256C;
    /* height: 637px; */
    /* height: 39.813rem; */
}

.main__videos {
    flex-grow: 1;
    background-color: #2541B2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

video {
    height: 300px;
    width: 400px;
    margin: 20px;
    border: 10px solid #1768AC;
    border-radius: 10px;
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
}

.main__controls {
    background-color: #03256C;
}

/* .main__right {
    background-color: #1768AC;
    border-left: 1px solid #03256C;
} */

.main__controls {
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button:hover {
    background-color: #1768AC;
    border-radius: 5px;
}

.leave_btn {
    background-color: #ff0000b2;
    font-weight: 700;
    transition: all 600ms;
}

.leave_btn:hover {
    background-color: #ff0000;
}

.main__controls__button i {
    font-size: 24px;
}

/* .main__right {
    display: flex;
    flex-direction: column;
} */

.main__header {
    padding: 20px 0;
    color: #F5F5F5;
    background-color: #03256C;
    text-align: center;
    font-weight: 700;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 50px;
}

.messages {
    color: white !important;
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.leave_meeting {
    color: #fff;
}

.unmute, .stop {
    color: #CC3B33;
}

/* for placeholder color change */

::placeholder {
    color: #fff;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

/* Flip Screen */

.mystyle {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Chat hidden */

.chatHidden {
    display: flex;
    flex: 0.2;
}

.flexChange {
    flex: 0.8;
}

/* Screen record */

.stop-recording {
    visibility: hidden;
}

.record-btn {
    position: absolute;
    visibility: hidden;
    display: none;
}

/* New code s*/

/* popup and link share  */

/* Popup container - can be anything you want */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */

.popup .popuptext {
    visibility: hidden;
    width: 260px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#copy-text {
    background-color: #006eff;
    border-radius: 6px;
    border: none;
    outline: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px;
}

.popuptext input {
    background-color: transparent;
    border: none;
    outline: none;
}

/* popup modal */

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60% !important;
}

/* Admin user show */

.admin-user {
    position: absolute;
    /* left: 1100px; */
    right: -60px;
    margin: 50px 100px;
    padding: 10px 30px;
    display: flex;
    background-color: #1768AC;
    border-radius: 50px;
    cursor: pointer;
}

.admin-user-field {
    color: #fff;
    margin-left: 10px;
    margin-bottom: -10px;
}

.admin-user:hover .admin-user-field {
    color: #FF3F00;
}

#admin-field, #user-field {
    font-weight: 700;
}

/* Remaining time */

#room-body {
    /* text-align: center; */
    background: #00ECB9;
    font-family: sans-serif;
    font-weight: 100;
}

/* h1 {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
} */

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    position: absolute;
    margin: 10px;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 7px;
    /* background: #03256C; */
    background: #af1010;
    display: inline-block;
}

#clockdiv div>span {
    padding: 5px;
    border-radius: 3px;
    background: #f30d05;
    /* background-color: #2541B2; */
    display: inline-block;
}

#timeCount {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    position: absolute;
    margin: 10px;
    /* top: 50px; */
    left: 50%;
    transform: translateX(-50%);
}

#timeCount>div {
    padding: 10px;
    border-radius: 7px;
    /* background: #03256C; */
    background: #073bac;
    display: inline-block;
}

#timeCount div>span {
    padding: 5px;
    border-radius: 3px;
    /* background: #03256C; */
    background-color: #3f5fdf;
    display: inline-block;
}

/* index.html page */

body {
    font-family: 'Roboto', sans-serif;
}

.navbar-nav {
    font-size: 12px;
}

.material-icons.md-30 {
    font-size: 30px;
}

/* Carousel section */

#carousel-container {
    padding: 50px 0;
}

.carousel-item img {
    height: 600px;
}

/* Main section */

textarea:focus, input:focus {
    outline: none;
}

.join-btn {
    margin-left: 10px;
    padding: 0 30px;
    font-weight: 700;
    font-size: larger;
}

/* for modal show and writable */

.modal-backdrop {
    z-index: 0;
}

#exampleModal {
    /* width: 1500px; */
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 750px;
    }
}

/* Date Picker */
.date-picker{
    max-width: 250px;
    cursor: pointer;
}
.input-group-text {
    padding: 1rem 1.70rem;
}
.datepicker{
    padding: 20px 30px;
    top: 160px !important;

}
.dropdown{
    margin: 28px;
}
.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}
.month{
    margin: 5px;
}

.time-select{
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
    padding-left: .5rem;
    font-size: .875rem;
    margin-top: 22px;
    margin-left: 50px;
}