.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* transition: all 200ms; */
}

.main__right {
    /* flex: 0.2; */
    flex-direction: column;
    /* display: flex; */
    display: none;
    background-color: #1768AC;
    border-left: 1px solid #03256C;
}

.main__videos {
    flex-grow: 1;
    background-color: #2541B2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

video {
    height: 300px;
    width: 400px;
    margin: 20px;
    border: 10px solid #1768AC;
    border-radius: 10px;
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
}

.main__controls {
    background-color: #03256C;
}

/* .main__right {
    background-color: #1768AC;
    border-left: 1px solid #03256C;
} */

.main__controls {
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button:hover {
    background-color: #1768AC;
    border-radius: 5px;
}

.leave_btn {
    background-color: #ff0000b2;
    font-weight: 700;
    transition: all 600ms;
}

.leave_btn:hover {
    background-color: #ff0000;
}

.main__controls__button i {
    font-size: 24px;
}

/* .main__right {
    display: flex;
    flex-direction: column;
} */

.main__header {
    padding: 20px 0;
    color: #F5F5F5;
    background-color: #03256C;
    text-align: center;
    font-weight: 700;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 10px;
}

.messages {
    color: white !important;
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.leave_meeting {
    color: #fff;
}

.unmute, .stop {
    color: #CC3B33;
}

/* for placeholder color change */

::placeholder {
    color: #fff;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}


/* Flip Screen */
.mystyle{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Chat hidden */

.chatHidden{
    display: flex;
    flex: 0.2;
}
.flexChange{
    flex: 0.8;
}

/* Screen record */

.stop-recording {
    visibility: hidden;
  }
  .record-btn {
    position: absolute;
    visibility: hidden;
    display: none;
  }